<div class="card-image">
    <img class="img-responsive" src="">
</div>

<div class="card-content">
    <div ng-if="userCard.updateButton.mask=='001'">
        <p><i class="glyphicon glyphicon-user"></i> {{userCard.data.profile.firstName}} {{userCard.data.profile.lastName}}</p>
        <p ng-if="userCard.data.profile.phone"><i class="glyphicon glyphicon-phone"></i> 0{{userCard.data.profile.phone}}</p>
        <p ng-if="userCard.data.profile.address"><i class="glyphicon glyphicon-home"></i> {{userCard.data.profile.address}}</p>
    </div>
    <div ng-if="userCard.updateButton.mask=='010'">
        <form name="signupform" novalidate>
            <div class="form-group" ng-class="{ 'has-error': signupform.firstname.$touched && signupform.firstname.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="firstname" placeholder="Nom" ng-model='userCard.data.profile.firstName' required>
                </div>
                <div class="help-block" ng-messages="signupform.firstname.$error" ng-if="signupform.firstname.$touched">
                    <p ng-if="signupform.firstname.$error.required">Nom obligatoire.</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': signupform.lastname.$touched && signupform.lastname.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" name="lastname" placeholder="Prenom" ng-model='userCard.data.profile.lastName' required>
                </div>
                <div class="help-block" ng-messages="signupform.lastname.$error" ng-if="signupform.lastname.$touched">
                    <p ng-if="signupform.lastname.$error.required">Prenom obligatoire.</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': signupform.phone.$touched && signupform.phone.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                    <input type="number" class="form-control" name="phone" placeholder="Téléphone" ng-model='userCard.data.profile.phone'>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': signupform.address.$touched && signupform.address.$invalid}">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                    <input type="text" class="form-control" name="address" placeholder="Adresse" ng-model='userCard.data.profile.address'>
                </div>
            </div>
            <div ng-if="userCard.userExist">
                <p class="text-danger">Utilisateur existe deja !</p>
            </div>
        </form>
    </div>
</div>

<div class="card-action">
    <a class="btn btn-danger btn-outline" ng-if="userCard.removeButton._show&&userCard.deleteTimer>=5" ng-click="userCard.remove()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
    <a class="btn btn-danger btn-outline" ng-if="userCard.removeButton._show&&userCard.deleteTimer<5" ng-click="userCard.submitRemove()">Confirmer! {{userCard.deleteTimer}}</a>
    <a class="btn btn-success btn-outline" ng-if="userCard.updateButton._show&&userCard.updateButton.mask == '001'" ng-click="userCard.update()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
    <a class="btn btn-warning btn-outline" ng-if="userCard.updateButton._show&&userCard.updateButton.mask == '010'" ng-click="userCard.cancelUpdate()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
    <a class="btn btn-success btn-outline" ng-disabled="userCard.submitInProgress" ng-if="userCard.updateButton._show&&userCard.updateButton.mask == '010'" ng-click="userCard.confirmUpdate()">
        <span ng-if="!userCard.submitInProgress" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span ng-if="userCard.submitInProgress"  class=" glyphicon glyphicon-refresh
            glyphicon-refresh-animate "></span>
    </a>
</div>