<div class="card-image">
	<img class="img-responsive" src="">
</div>
<div class="card-content" ng-init="show_more=false">
	<table class="table">
		<tbody>
			<tr>
				<td>{{birthCard.data.nom}}</td>
				<td>الاسم العائلي</td>
			</tr>
			<tr>
				<td>{{birthCard.data.prenom}}</td>
				<td>الاسم الشخصي</td>
			</tr>
			<tr ng-if="birthCard.data.gender">
				<td>{{birthCard.data.gender=='m'?'ذكر':'أنثى'}}</td>
				<td>الجنس</td>
			</tr>
			<tr>
				<td>{{birthCard.data.nomPere}}</td>
				<td>الاسم العائلي للأب</td>
			</tr>
			<tr>
				<td>{{birthCard.data.prenomPere}}</td>
				<td>الاسم الشخصي للأب</td>
			</tr>
			<tr>
				<td>{{birthCard.data.nomMere}}</td>
				<td>االاسم العائلي للأم</td>
			</tr>
			<tr>
				<td>{{birthCard.data.prenomMere}}</td>
				<td>الاسم الشخصي للأم</td>
			</tr>
			<tr>
				<td>{{birthCard.data.phoneNumber}}</td>
				<td>رقم الهاتف</td>
			</tr>
			<tr>
				<td>{{birthCard.data.date | date}}</td>
				<td>تاريخ الولادة</td>
			</tr>
			<tr>
				<td>{{birthCard.data.adresse}}</td>
				<td>العنوان</td>
			</tr>
		</tbody>
	</table>
	<a href="#" ng-click="show_more=!show_more" title="المزيد من المعلومات"><span class="glyphicon" ng-class="{'glyphicon-plus':!show_more,'glyphicon-minus':show_more}"></span></a>
	<table class="table" ng-if="show_more">
		<tbody>
			<tr>
				<td>{{birthCard.data.pediatrician}}</td>
				<td>الممرض</td>
			</tr>
			<tr>
				<td>{{birthCard.data.hospital}}</td>
				<td>المستشفى</td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="birthCard.user.mask == '010'" class="card-action">
	<a class="btn btn-success btn-outline" ng-click="birthCard.print()">
		<span title="Imprimer" class="glyphicon glyphicon-print"></span>
	</a>
	<a class="btn btn-warning btn-outline" href="/birth/edit/{{birthCard.data._id}}">
		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	</a>
	<span class="label pull-right" ng-class="{'label-info' : birthCard.data.status=='new','label-warning' : birthCard.data.status=='progress','label-default' : birthCard.data.status=='done'}">{{birthCard.data.status=='new'?'nouveau':birthCard.data.status=='progress'?'En cours':'Traiter'}} <span class="glyphicon glyphicon-{{birthCard.data.status=='new'?'asterisk':birthCard.data.status=='progress'?'pencil':'level-up'}}" aria-hidden="true"></span></span>

</div>