<div class="panel panel-default">
   <div class="panel-heading">:معلومات الفقيد</div>
   <div class="panel-body">
      <form name="addForm" class="form-horizontal">
         <div class="form-group" ng-class="{ 'has-error': addForm.champ1.$touched && addForm.champ1.$invalid}">
            <label class="control-label col-sm-4" for="name" style="float: right">:الاسم العائلي</label>
            <div class="col-sm-8">
               <input name="champ1" type="text" class="form-control" ng-model="deathAdd.decee.nom" required/>
               <div class="help-block" ng-messages="addForm.champ1.$error" ng-if="addForm.champ1.$touched">
                  <p ng-if="addForm.champ1.$error.required">!النسب ضروري</p>
               </div>
            </div>
         </div>
         <div class="form-group" ng-class="{ 'has-error': addForm.champ2.$touched && addForm.champ2.$invalid}">
            <label class="control-label col-sm-4" style="float: right" for="prenom">: الاسم الشخصي </label>
            <div class="col-sm-8">
               <input name="champ2" type="text" class="form-control" ng-model="deathAdd.decee.prenom" required>
               <div class="help-block" ng-messages="addForm.champ2.$error" ng-if="addForm.champ2.$touched">
                  <p ng-if="addForm.champ2.$error.required">!الاسم ضروري</p>
               </div>
            </div>
         </div>
         <div class="form-group" ng-class="{ 'has-error': (addForm.champ3.$touched ) && (addForm.champ3.$invalid)}">
            <label class="control-label col-sm-4" style="float: right" for="prenom">: الجنس</label>
            <div class="col-sm-8">
               <label class="radio-inline">
               <input type="radio" name="champ3"  ng-model="deathAdd.decee.gender" value="f" ng-checked="false" required> أنثى
               </label>
               <label class="radio-inline">
               <input type="radio" name="champ3"  ng-model="deathAdd.decee.gender" value="m" ng-checked="false" required> ذكر
               </label>
               <div class="help-block" ng-messages="addForm.champ3.$error" ng-if="(addForm.champ3.$touched && addForm.champ3.$invalid)">
                  <p ng-if="(addForm.champ3.$error.required )"> !الاختيار ضروري</p>
               </div>
            </div>
         </div>
         <div class="form-group" ng-class="{ 'has-error': addForm.champ4.$touched && addForm.champ4.$invalid}">
            <label class="control-label col-sm-4" for="prenomPere" style="float: right">:عدد الأبناء</label>
            <div class="col-sm-8">
               <input name="champ4" type="NUMBER" class="form-control" ng-model="deathAdd.decee.childrenNbr" required>
               <div class="help-block" ng-messages="addForm.champ4.$error" ng-if="addForm.champ4.$touched">
                  <p ng-if="addForm.champ4.$error.required">!ملئ الخانة ضروري</p>
               </div>
            </div>
         </div>
         <div class="form-group" ng-class="{ 'has-error': addForm.champ8.$touched && addForm.champ8.$invalid}">
            <label class="control-label col-sm-4" for="date" style="float: right">: تاريخ الوفاة</label>
            <div class="col-sm-8">
               <input name="champ8" type="date" class="form-control" ng-model="deathAdd.decee.date" required>
               <div class="help-block" ng-messages="addForm.champ8.$error" ng-if="addForm.champ8.$touched">
                  <p ng-if="addForm.champ8.$error.required"> !ملئ الخانة ضروري</p>
               </div>
            </div>
         </div>
         <div class="form-group" ng-class="{ 'has-error': addForm.champ5.$touched && addForm.champ5.$invalid}">
            <label class="control-label col-sm-4" for="address" style="float: right">:العنوان</label>
            <div class="col-sm-8">
               <input name="champ5" type="text" class="form-control" ng-model="deathAdd.decee.address" required>
               <div class="help-block" ng-messages="addForm.champ4.$error" ng-if="addForm.champ5.$touched">
                  <p ng-if="addForm.champ5.$error.required"> !ملئ الخانة ضروري</p>
               </div>
            </div>
         </div>
      </form>
   </div>
   <div class="panel-footer">
      <div class="btn-group">
         <button type="submit" class="btn" ng-click="deathAdd.submit()" ng-disabled="addForm.$invalid" ng-class="{disabled : addForm.$invalid,'btn-success' : addForm.$valid,'btn-danger' : addForm.$invalid}">إرسال</button>
         <button class="btn btn-default" ui-sref="deathlist" ng-click="deathAdd.cancel()">إلغاء</button>
      </div>
   </div>
</div>