death-add{
    display: block;
    width: 80%;
    max-width: 500px;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    overflow: auto;
}
death-add input, textarea{
    direction:rtl;
}
death-add .form-group label{
    float:right;
}

death-add .form-group label.radio-inline{
    float:initial;
}
