<div class="card-image">
    <img class="img-responsive" src="">
</div>
<div class="card-content">
    <table class="table">
        <tbody>
            <tr>
                <td>{{graduationArchiveCard.data.nom}}</td>
                <td>الاسم العائلي</td>
            </tr>
            <tr>
                <td>{{graduationArchiveCard.data.prenom}}</td>
                <td>الاسم الشخصي</td>
            </tr>
            <tr>
                <td>{{graduationArchiveCard.data.gender=='m'?'ذكر':'أنثى'}}</td>
                <td>الجنس</td>
            </tr>
            <tr>
                <td>{{graduationArchiveCard.data.childrenNbr}}</td>
                <td>عدد الأبناء</td>
            </tr>
            <tr>
                <td>{{graduationArchiveCard.data.date | date}}</td>
                <td>تاريخ الوفاة</td>
            </tr>
            <tr>
                <td>{{graduationArchiveCard.data.address}}</td>
                <td>العنوان</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="graduationArchiveCard.user.mask == '010'" class="card-action">
    <a class="btn btn-success btn-outline" ng-click="graduationArchiveCard.print()">
        <span  title="Imprimer" class="glyphicon glyphicon-print"></span>
    </a>
    <span class="label pull-right" ng-class="{'label-info' : graduationArchiveCard.data.status=='new','label-warning' : graduationArchiveCard.data.status=='progress','label-default' : graduationArchiveCard.data.status=='done'}">{{graduationArchiveCard.data.status=='new'?'nouveau':graduationArchiveCard.data.status=='progress'?'En cours':'Traiter'}} <span class="glyphicon glyphicon-{{graduationArchiveCard.data.status=='new'?'asterisk':graduationArchiveCard.data.status=='progress'?'pencil':'level-up'}}" aria-hidden="true"></span></span>
</div>