/* CSS declarations go here */
death-archive-card {
  display: inline-block;
  margin: 6px;
  min-width: 260px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: left
}
death-archive-card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

death-archive-card .card-image {
  position: relative;
  overflow: hidden;
}
death-archive-card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
death-archive-card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
death-archive-card .card-content {
  text-align: right;
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

death-archive-card .card-content table tbody tr:first-child td {
  border: none!important;
}


death-archive-card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 10px;
}
death-archive-card .card-action a {
  color: #ffab40;
  margin-right: 10px;
  transition: color 0.3s ease;
  text-transform: capitalize;
}
death-archive-card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
  cursor: pointer;
}
