<button id="naissanceButton" ui-sref="birthlist" type="button" class="btn btn-default">Naissance <span class="label label-warning">{{home.birthCount}}</span> </button>
<button id="decesButton" ui-sref="deathlist" type="button" class="btn btn-default">Décès <span class="label label-warning">{{home.deathCount}}</span></button>
<button id="gradButton" ui-sref="graduationlist" type="button" class="btn btn-default">Graduation <span class="label label-warning">{{home.graduationCount}}</span></button>
