<div class="user-search">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" ng-model="birthArchive.searchQuery" placeholder="Rechercher ...">
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        <input type="date" class="form-control" ng-model="birthArchive.searchDate">
    </div>
</div>
<div id="pagination">
    <button type="button" class="btn btn-success" ng-disabled="birthArchive.page<=1" ng-click="birthArchive.previousPage()">السابق</button>
    <button type="button" class="btn btn-info" ng-disabled="birthArchive.page*10>=birthArchive.count" ng-click="birthArchive.nextPage()">التالي</button>
</div>
<birth-archive-card ng-repeat="item in birthArchive.naissance" data="item" user="birthArchive.user"></birth-archive-card>
