<div id="right_container">
    <button id="plus_button" ng-click="header.plusButton.click()">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
    <button id="more_button" ng-click="header.moreButton.click($event)">
<span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
</button>
</div>

<div id="more_container">
    <ul class="list-group">
        <a class="list-group-item" ui-sref="birthlist">Naissance</a>
        <a class="list-group-item" ui-sref="deathlist">Décès</a>
        <a class="list-group-item" ui-sref="graduationlist">Graduation</li>
    </ul>
</div>


<h4 id="header_label">{{header.label}}</h4>

<button id="menu_button" ng-click="header.drawer.toggle()">
<span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
</button>