<div class="panel panel-default">
    <div class="panel-heading">:تعديل الولادة</div>
    <div class="panel-body">
        <form name="editForm" class="form-horizontal">

            <div class="form-group" ng-class="{ 'has-error': editForm.champ1.$touched && editForm.champ1.$invalid}">
                <div class="col-sm-8">
                    <input name="champ1" type="text" class="form-control" ng-model="birthEdit.birth.firstName" required autofocus>
                </div>
                <label class="control-label col-sm-4" for="name">:الاسم العائلي</label>
                <div class="help-block" ng-messages="editForm.champ1.$error" ng-if="editForm.champ1.$touched">
                    <p ng-if="editForm.champ1.$error.required">!الاسم ضروري</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': editForm.champ2.$touched && editForm.champ2.$invalid}">
                <div class="col-sm-8">
                    <input name="champ2" type="text" class="form-control" ng-model="birthEdit.birth.lastName" required>
                </div>
                <label class="control-label col-sm-4" for="prenom">: الاسم الشخصي </label>
                <div class="help-block" ng-messages="editForm.champ2.$error" ng-if="editForm.champ2.$touched">
                    <p ng-if="editForm.champ2.$error.required">!الاسم ضروري</p>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': editForm.champ3.$touched && editForm.champ3.$invalid}">
                <div class="col-sm-8">
                    <input name="champ3" type="text" class="form-control" ng-model="birthEdit.birth.fatherFName" required>
                </div>
                <label class="control-label col-sm-4" for="nomPere"> : الاسم العائلي للأب</label>
                <div class="help-block" ng-messages="editForm.champ3.$error" ng-if="editForm.champ3.$touched">
                    <p ng-if="editForm.champ3.$error.required">!الاسم ضروري</p>
                </div>
                
            </div>

            <div class="form-group" ng-class="{ 'has-error': editForm.champ4.$touched && editForm.champ4.$invalid}">
                <div class="col-sm-8">
                    <input name="champ4" type="text" class="form-control" ng-model="birthEdit.birth.fatherLName" required>
                </div>
                <label class="control-label col-sm-4" for="prenomPere">:الاسم الشخصي للأب</label>
                <div class="help-block" ng-messages="editForm.champ4.$error" ng-if="editForm.champ4.$touched">
                    <p ng-if="editForm.champ4.$error.required">!الاسم ضروري</p>
                </div>
                
            </div>

            <div class="form-group" ng-class="{ 'has-error': editForm.champ5.$touched && editForm.champ5.$invalid}">
                <div class="col-sm-8">
                    <input name="champ5" type="text" class="form-control" ng-model="birthEdit.birth.motherFName" required>
                </div>
                <label class="control-label col-sm-4" for="nomMere">: الاسم العائلي للأم</label>
                <div class="help-block" ng-messages="editForm.champ4.$error" ng-if="editForm.champ5.$touched">
                    <p ng-if="editForm.champ5.$error.required"> !الاسم ضروري</p>
                </div>
                
            </div>
            <div class="form-group" ng-class="{ 'has-error': editForm.champ6.$touched && editForm.champ6.$invalid}">
                <div class="col-sm-8">
                    <input name="champ6" type="text" class="form-control" ng-model="birthEdit.birth.motherLName" required>
                </div>
                <label class="control-label col-sm-4" for="prenomMere"> :الاسم الشخصي للأم</label>
                <div class="help-block" ng-messages="editForm.champ6.$error" ng-if="editForm.champ6.$touched">
                    <p ng-if="editForm.champ6.$error.required"> !الاسم ضروري</p>
                </div>
            </div>


            <div class="form-group" ng-class="{ 'has-error': editForm.champ7.$touched && editForm.champ7.$invalid}">
                <div class="col-sm-8">
                    <input name="champ7" type="text" class="form-control" ng-model="birthEdit.birth.phone" required>
                </div>
                <label class="control-label col-sm-4" for="phoneNumber">:رقم الهاتف</label>
                <div class="help-block" ng-messages="editForm.champ7.$error" ng-if="editForm.champ7.$touched">
                    <p ng-if="editForm.champ7.$error.required"> !الاسم ضروري</p>
                </div>
                
            </div>

            <div class="form-group" ng-class="{ 'has-error': editForm.champ8.$touched && editForm.champ8.$invalid}">
                    <div class="col-sm-8">
                        <input name="champ8" type="date" class="form-control" ng-model="birthEdit.birth.date" required>
                    </div>
                    <label class="control-label col-sm-4" for="date">: تاريخ الولادة</label>
                    <div class="help-block" ng-messages="editForm.champ8.$error" ng-if="editForm.champ8.$touched">
                        <p ng-if="editForm.champ8.$error.required"> !الاسم ضروري</p>
                    </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': editForm.champ9.$touched && editForm.champ9.$invalid}">

                <div class="col-sm-8">
                    <textarea name="champ9" type="text" class="form-control" ng-model="birthEdit.birth.address" required>
                    </textarea>
                </div>
                <label class="control-label col-sm-4" for="date">:العنوان</label>
                <div class="help-block" ng-messages="editForm.champ8.$error" ng-if="editForm.champ9.$touched">
                    <p ng-if="editForm.champ9.$error.required"> !الاسم ضروري</p>
                </div>
                
            </div>
        </form>

    </div>
    <div class="panel-footer">
        <div class="btn-group">
            <button type="submit" class="btn" ng-click="birthEdit.submit()" ng-disabled="editForm.$invalid" ng-class="{disabled : editForm.$invalid,'btn-success' : editForm.$valid,'btn-danger' : editForm.$invalid}">Submit</button>
            <button class="btn btn-default" ng-click="birthEdit.cancel()">Annuler</button>
        </div>
    </div>
</div>