<div class="card-image">
    <img class="img-responsive" src="">
</div>
<div class="card-content">
    <table class="table">
        <tbody>
            <tr>
                <td>{{deathCard.data.nom}}</td>
                <td>الاسم العائلي</td>
            </tr>
            <tr>
                <td>{{deathCard.data.prenom}}</td>
                <td>الاسم الشخصي</td>
            </tr>
            <tr>
                <td>{{deathCard.data.gender=='m'?'ذكر':'أنثى'}}</td>
                <td>الجنس</td>
            </tr>
            <tr>
                <td>{{deathCard.data.childrenNbr}}</td>
                <td>عدد الأبناء</td>
            </tr>
            <tr>
                <td>{{deathCard.data.date | date}}</td>
                <td>تاريخ الوفاة</td>
            </tr>
            <tr>
                <td>{{deathCard.data.address}}</td>
                <td>العنوان</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="deathCard.user.mask == '010'" class="card-action">
    <a class="btn btn-success btn-outline" ng-click="birthCard.print()">
        <span  title="Imprimer" class="glyphicon glyphicon-print"></span>
    </a>
    <a class="btn btn-warning btn-outline" href="/death/edit/{{deathCard.data._id}}" >
        <span title="modifier" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>
    <span class="label pull-right" ng-class="{'label-info' : deathCard.data.status=='new','label-warning' : deathCard.data.status=='progress','label-default' : deathCard.data.status=='done'}">{{deathCard.data.status=='new'?'nouveau':deathCard.data.status=='progress'?'En cours':'Traiter'}} <span class="glyphicon glyphicon-{{deathCard.data.status=='new'?'asterisk':deathCard.data.status=='progress'?'pencil':'level-up'}}" aria-hidden="true"></span></span>
</div>