<html>

<head>
    <title>Liste en cours</title>
    <style>
        page {
            display: block;
            width: 100%;
            height: 100%;
        }
    </style>
</head>

<body>
{{#.}}
    <page>
        nom  : {{nom}}
        </br>
        prenom : {{prenom}}
        </br>
        Date de naissance: {{date}}
        </br>
        Numero de tel : {{phoneNumber}}
        </br>
        Nom de l'établissement : {{nomEtabliss}}
        </br>
        Specialité : {{specialite}}
    </page>
{{/.}}
</body>

</html>