<div class="panel panel-default">
    <div class="panel-heading">: ولادة جديدة</div>
    <div class="panel-body">
        <form name="addForm" class="form-horizontal">
            <div class="form-group" ng-class="{ 'has-error': addForm.champ1.$touched && addForm.champ1.$invalid}">
                <label class="control-label col-sm-4" for="name">:الاسم العائلي</label>
                <div class="col-sm-8">
                    <input name="champ1" type="text"  class="form-control" ng-model="birthAdd.naissance.nom" required autofocus>
                    <div class="help-block" ng-messages="addForm.champ1.$error" ng-if="addForm.champ1.$touched">
                        <p ng-if="addForm.champ1.$error.required">!الاسم العائلي ضروري </p>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error': addForm.champ2.$touched && addForm.champ2.$invalid}">
                <label class="control-label col-sm-4" for="prenom">: الاسم الشخصي </label>
                <div class="col-sm-8">
                    <input name="champ2" type="text" class="form-control" ng-model="birthAdd.naissance.prenom" required>
                    <div class="help-block" ng-messages="addForm.champ2.$error" ng-if="addForm.champ2.$touched">
                        <p ng-if="addForm.champ2.$error.required">!الاسم الشخصي ضروري</p>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': addForm.champ3.$touched && addForm.champ3.$invalid}">
                <label class="control-label col-sm-4" for="nomPere" > : الاسم العائلي للأب</label>
                <div class="col-sm-8">
                    <input name="champ3" type="text" class="form-control" ng-model="birthAdd.naissance.nomPere" required>
                    <div class="help-block" ng-messages="addForm.champ3.$error" ng-if="addForm.champ3.$touched">
                        <p ng-if="addForm.champ3.$error.required">!الاسم ضروري</p>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': addForm.champ4.$touched && addForm.champ4.$invalid}">
                <label class="control-label col-sm-4" for="prenomPere" >:الاسم الشخصي للأب</label>
                <div class="col-sm-8">
                    <input name="champ4" type="text" class="form-control"  ng-model="birthAdd.naissance.prenomPere" required>
                    <div class="help-block" ng-messages="addForm.champ4.$error" ng-if="addForm.champ4.$touched">
                          <p ng-if="addForm.champ4.$error.required">!الاسم ضروري</p>
                     </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': addForm.champ5.$touched && addForm.champ5.$invalid}">
                <label class="control-label col-sm-4" for="nomMere" >: الاسم العائلي للأم</label>
                <div class="col-sm-8">
                    <input name="champ5" type="text" class="form-control"  ng-model="birthAdd.naissance.nomMere">
                    <div class="help-block" ng-messages="addForm.champ4.$error" ng-if="addForm.champ5.$touched">
                        <p ng-if="addForm.champ5.$error.required"> !الاسم ضروري</p>
                    </div>
                </div>
                
            </div>
            <div class="form-group" ng-class="{ 'has-error': addForm.champ6.$touched && addForm.champ6.$invalid}">
                <label class="control-label col-sm-4" for="prenomMere" > :الاسم الشخصي للأم</label>
                <div class="col-sm-8">
                    <input name="champ6" type="text" class="form-control"  ng-model="birthAdd.naissance.prenomMere">
                    <div class="help-block" ng-messages="addForm.champ6.$error" ng-if="addForm.champ6.$touched">
                        <p ng-if="addForm.champ6.$error.required"> !الاسم ضروري</p>
                     </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': addForm.champ7.$touched && addForm.champ7.$invalid}">
                <label class="control-label col-sm-4" for="phoneNumber" >:رقم الهاتف</label>
                <div class="col-sm-8">

                    <input name="champ7" type="text" class="form-control" ng-pattern="/^\d{10}(\.\d{1,10})?$/" ng-model="birthAdd.naissance.phoneNumber">
                    <div class="help-block" ng-messages="addForm.champ7.$error" ng-if="addForm.champ7.$touched">
                        <p ng-if="addForm.champ7.$error.pattern">رقم الهاتف غير صحيح</p>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': addForm.champ8.$touched && addForm.champ8.$invalid}">
                <label class="control-label col-sm-4" for="date" >: تاريخ الولادة</label>
                <div class="col-sm-8">
                    <input name="champ8" type="date" class="form-control" ng-model="birthAdd.naissance.date" required>
                    <div class="help-block" ng-messages="addForm.champ8.$error" ng-if="addForm.champ8.$touched">
                        <p ng-if="addForm.champ8.$error.required"> !ملئ الخانة ضروري</p>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': addForm.champ9.$touched && addForm.champ9.$invalid}">
                <label class="control-label col-sm-4" for="date">:العنوان</label>
                <div class="col-sm-8"class="form-group">
                    <textarea name="champ9" type="text"  class="form-control" ng-model="birthAdd.naissance.adresse" required></textarea>
                    <div class="help-block" ng-messages="addForm.champ8.$error" ng-if="addForm.champ9.$touched">
                        <p ng-if="addForm.champ9.$error.required"> ! العنوان ضروري</p>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="panel-footer">
        <div class="btn-group">
            <button type="submit" class="btn" ng-click="birthAdd.submit()" ng-disabled="addForm.$invalid" ng-class="{disabled : addForm.$invalid,'btn-success' : addForm.$valid,'btn-danger' : addForm.$invalid}">إرسال</button>
            <button class="btn btn-default" ng-click="birthAdd.cancel()">إلغاء</button>
        </div>
    </div>
</div>