<div ng-if="deathList.user.mask == '010'">
    <div class="panel panel-warning">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                في طور الإنجاز <span class="label label-warning">{{(deathList.decesProgress).length}}</span>
                <button ng-disabled="(deathList.decesProgress).length == 0" class=" btn btn-success btn-outline pull-right"
                    ng-click="deathList.pdfPrint(deathList.decesProgress)">
                    <span ng-if="deathList.printTimer == 5" title="Imprimer" class="glyphicon glyphicon-print"></span>
                    <span ng-if="deathList.printTimer < 5">Confirmer ! {{deathList.printTimer}}</span>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <center ng-if="(deathList.decesProgress).length == 0">
                <p>
                    لا يوجد أي حالات جديدة
                </p>
            </center>
            <div>
                <button type="button" class="btn btn-success" ng-disabled="deathList.pagiProg.page<=1" ng-click="deathList.pagiProg.previousPage()">السابق</button>
                <button type="button" class="btn btn-info" ng-disabled="deathList.pagiProg.page*10>=deathList.pagiProg.count" ng-click="deathList.pagiProg.nextPage()">التالي</button>
            </div>
            <death-card ng-if="deathList.user" ng-repeat="item in deathList.decesProgress | orderBy : 'date'" data="item" user="deathList.user"></death-card>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">حالات جديدة <span class="label label-info">{{(deathList.decesNew).length}}</span></h3>
        </div>
        <div class="panel-body">
            <center ng-if="(deathList.decesNew).length == 0">
                <p>
                    لا يوجد أي حالات جديدة
                </p>
            </center>
            <div>
                <button type="button" class="btn btn-success" ng-disabled="deathList.pagiNew.page<=1" ng-click="deathList.pagiNew.previousPage()">السابق</button>
                <button type="button" class="btn btn-info" ng-disabled="deathList.pagiNew.page*10>=deathList.pagiNew.count" ng-click="deathList.pagiNew.nextPage()">التالي</button>
            </div>
            <death-card ng-if="deathList.user" ng-repeat="item in deathList.decesNew | orderBy : 'date'" data="item" user="deathList.user"></death-card>
        </div>
    </div>
</div>
<div ng-if="deathList.user.mask == '001'">
    <death-card ng-if="deathList.user" ng-repeat="item in deathList.decesNew" data="item" user="deathList.user"></death-card>
</div>