<div ng-if="birthList.user.mask == '010'">
    <div class="panel panel-warning">
        <div class="panel-heading clearfix">
            <div class="panel-title">
                En cours de traitements <span class="label label-warning">{{(birthList.naissance | filter : {status : 'progress'}).length}}</span>
                <button class=" btn btn-success btn-outline pull-right" ng-click="birthList.pdfPrint(birthList.naissance | filter : {status : 'progress'})"><span  title="Imprimer" class="glyphicon glyphicon-print"></span></button>
            </div>
        </div>
        <div class="panel-body">
            <center ng-if="(birthList.naissance | filter : {status : 'progress'}).length == 0">
                    <p>
                        لا يوجد أي ولادات جديدة
                    </p>
            </center>
            <birth-card ng-if="birthList.user" ng-repeat="item in birthList.naissance | filter : {status : 'progress'} | orderBy : 'date'"
                data="item" user="birthList.user"></birth-card>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Nouveau <span class="label label-info">{{(birthList.naissance | filter : {status : 'new'}).length}}</span></h3>
        </div>
        <div class="panel-body">
            <center ng-if="(birthList.naissance | filter : {status : 'new'}).length == 0">
                    <p>
                        لا يوجد أي ولادات جديدة
                    </p>
            </center>
            <birth-card ng-if="birthList.user" ng-repeat="item in birthList.naissance | filter : {status : 'new'} | orderBy : 'date'" data="item"
                user="birthList.user"></birth-card>
        </div>
    </div>
</div>
<div ng-if="birthList.user.mask == '001'">
    <birth-card ng-if="birthList.user" ng-repeat="item in birthList.naissance" data="item" user="birthList.user"></birth-card>
</div>
