<div id="drawer" ng-class="{slidein : drawer.state,slideout : !drawer.state}">

	<img ng-src="http://placehold.it/350x250" class="img-responsive">
	<div>
		<ul class="list-group" ng-click="drawer.toggle()">
			<a class="list-group-item" href="/birth/list">Naissance</a>
			<a class="list-group-item" href="/death/list">Décès</a>
			<a class="list-group-item" href="/graduation/list">Graduation</a>
			<hr>
			<a class="list-group-item" ng-click="drawer.logout()">
				<i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Se déconnecter
			</a>
		</ul>
	</div>
</div>
<div id="frame_overlay" ng-class="{slidein : drawer.state,slideout : !drawer.state}" ng-click='drawer.toggle()'></div>