<div id="drawer" ng-class="{slidein : drawer.state,slideout : !drawer.state}">

	<img ng-src="http://placehold.it/350x250" class="img-responsive">
	<div>
		<ul class="list-group">
			<a class="list-group-item" ng-click="drawer.toggle()" ui-sref="birthlist">Naissance</a>
			<a class="list-group-item" ng-click="drawer.toggle()" ui-sref="deatharchive">Décès archive</a>
			<a class="list-group-item" ng-click="drawer.toggle()" ui-sref="graduationlist">Graduation</a>
			<hr>
			<a ng-if="drawer.user.mask == '010'" ng-click="drawer.toggle()" class="list-group-item" ui-sref="userslist">Utilisateurs</a>
			</br>
			<a class="list-group-item" ng-click="drawer.logout()">
				<i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Se déconnecter
			</a>
		</ul>
	</div>
</div>
<div id="frame_overlay" ng-class="{slidein : drawer.state,slideout : !drawer.state}" ng-click='drawer.toggle()'></div>